
button {
  height: 2em;
  border-radius: 20px;
  border: none;
  font-size: 50px;
  font-weight: bold;
  transition: 0.3s;
  color : #000000;
  background-color : lightgray;
  display: inline-block;
}

.button {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 3em;
  margin-top: 3em;

  &__html {
      width: 20%;
  }

  &__css {
    width: 15%;
    margin-left: 2.4em;
  }

  &__js {
    width: 35%;
    margin-left: 2.4em;
  }
}

@media (min-width: 1290px) {

  button {
    font-size: 25px;
  }

  .button {

    &__html {
        width: 5em;
    }

    &__css {
      width: 5em;
      margin-left: 2em;
    }

    &__js {
      width: 7em;
      margin-left: 2em;
    }
  }

}
