@import "config";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll; // alltaf hafa y skrollbar
  font-family: $font-main;
  font-size: 16px;
}

main {
  max-width: $max-width;
}


h1,h2,h3{
  font-family: $font-headline;
}

img { /* stylelint-disable-line */
  max-width: 100%;
}

// TODO import
@import "header.scss";
